n8n/workflows/1_recordatorio_24h.json
{
  "name": "No-Shows: Recordatorio 24h",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "name": "Cada 15 minutos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Buscar appointments en las pr贸ximas 24h (ventana de 卤15min)\nSELECT \n    a.id AS appointment_id,\n    a.customer_id,\n    COALESCE(c.name, a.customer_name) AS customer_name,\n    COALESCE(c.phone, a.customer_phone) AS customer_phone,\n    a.appointment_date,\n    a.appointment_time,\n    s.name AS service_name,\n    a.duration_minutes,\n    a.business_id\nFROM appointments a\nLEFT JOIN customers c ON a.customer_id = c.id\nLEFT JOIN services s ON a.service_id = s.id\nWHERE a.business_id = '{{$env.BUSINESS_ID}}'\nAND a.status IN ('pending', 'confirmed')\nAND a.appointment_date = CURRENT_DATE + INTERVAL '1 day'\nAND a.appointment_time BETWEEN \n    CURRENT_TIME - INTERVAL '15 minutes' \n    AND CURRENT_TIME + INTERVAL '15 minutes'\n-- Evitar duplicados\nAND NOT EXISTS (\n    SELECT 1 FROM customer_confirmations cc\n    WHERE cc.appointment_id = a.id\n    AND cc.message_type = '24h'\n    AND cc.sent_at > NOW() - INTERVAL '23 hours'\n);",
        "additionalFields": {}
      },
      "name": "Supabase: Buscar appointments 24h",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase LA-IA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{Object.keys($json).length}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "name": "驴Hay appointments?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Calcular risk score del cliente\nSELECT * FROM calculate_smart_risk_score('{{$json.customer_id}}'::UUID);",
        "additionalFields": {}
      },
      "name": "Calcular Risk Score",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase LA-IA"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{$env.TWILIO_ACCOUNT_SID}}/Messages.json",
        "authentication": "basicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:{{$env.TWILIO_WHATSAPP_NUMBER}}"
            },
            {
              "name": "To",
              "value": "whatsapp:{{$json.customer_phone}}"
            },
            {
              "name": "Body",
              "value": "Hola {{$json.customer_name}}! \n\nRecordatorio de tu cita ma帽ana:\n {{$json.appointment_date}}\n {{$json.appointment_time}}\n锔 {{$json.service_name}}\n\n驴Confirmas tu asistencia? Responde S para confirmar."
            }
          ]
        },
        "options": {}
      },
      "name": "Twilio: Enviar WhatsApp 24h",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200],
      "credentials": {
        "httpBasicAuth": {
          "id": "2",
          "name": "Twilio Auth"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Registrar confirmaci贸n enviada\nSELECT record_customer_confirmation(\n    '{{$json.appointment_id}}'::UUID,\n    '24h',\n    'whatsapp',\n    '{{$node[\"Twilio: Enviar WhatsApp 24h\"].json.body}}'\n);",
        "additionalFields": {}
      },
      "name": "Supabase: Registrar confirmaci贸n",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": {
        "supabaseApi": {
          "id": "1",
          "name": "Supabase LA-IA"
        }
      }
    }
  ],
  "connections": {
    "Cada 15 minutos": {
      "main": [
        [
          {
            "node": "Supabase: Buscar appointments 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Buscar appointments 24h": {
      "main": [
        [
          {
            "node": "驴Hay appointments?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "驴Hay appointments?": {
      "main": [
        [
          {
            "node": "Calcular Risk Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Risk Score": {
      "main": [
        [
          {
            "node": "Twilio: Enviar WhatsApp 24h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio: Enviar WhatsApp 24h": {
      "main": [
        [
          {
            "node": "Supabase: Registrar confirmaci贸n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-23T00:00:00.000Z",
  "versionId": "1"
}

